services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel-app
    working_dir: /var/www
    volumes:
      - .:/var/www
    depends_on:
      - postgres
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - app-net

  nginx:
    image: nginx:alpine
    container_name: laravel-nginx
    ports:
      - "8081:80"
    volumes:
      - .:/var/www
      - ../roboFront:/var/www/roboFront
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app-net


  postgres:
    image: postgres:16
    container_name: laravel-pgdb
    environment:
      POSTGRES_DB: saas
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-net

  
networks:
  app-net:
    driver: bridge

volumes:
  pgdata:

